*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/inspectionProfiles/
!/.idea/codeInsightSettings.xml
!/.idea/kotlinCodeInsightSettings.xml
!/.idea/encodings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
